page-contact {
	#userimg{
		position:relative;
		float:right;
	 	width:40px;
	 	height:40px;
	}

	img{
		position:absolute;
		border-radius:50%;
	}

	#usernameContainer{
		position:relative;
		float:left;
		width:100%;
		
	}

	#username{
		position:absolute;
		left:0px;
	}

	.button{
		margin:0px;
	}
}
