<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div id='topButton'>

	  <button ion-button color="primary" 
	  (click)='openLoginPage()' *ngIf='!facebook.loggedIn'>Sign in</button>
	  <button ion-button color="primary" 
	  (click)='openRegisterPage()' *ngIf='!facebook.loggedIn'>Sign up</button>

	  <button ion-button color="primary" 
	  (click)='loginWithFacebook()' *ngIf='!facebook.loggedIn'>Sign in with facebook</button>

	  <button ion-button color="primary" 
	  (click)='logout()' *ngIf='facebook.loggedIn'>Log out</button>

	</div>
</ion-content>
