<ion-header #head>
	<div class="basicinfo">
		<div class="userinfo">
			<div id='userimgContainer'>
	      		<img src="{{facebook.profilePicture}}" />	
	      	</div>
			<div id='usernameContainer'>
		    	<p id='username'>{{facebook.name}}</p>
		    </div>
		    <div id='useremailContainer'>
		   		<p id='useremail'>{{facebook.email}}</p>
		    </div>
	    </div>
	
		<div class="topButton">	  
				<button ion-button color="dark" full (click)='loginWithFacebook()' *ngIf='!facebook.loggedIn'>
				  	<ion-icon name="logo-facebook"></ion-icon>Log in
				</button>
				<button ion-button color="dark" full (click)='logout()' *ngIf='facebook.loggedIn'>
					<ion-icon name="log-facebook"></ion-icon>Log out					
				</button>
		</div>
	
		<div class="followInfoContent">
			<div class = "row" id="row1">
		   		<div class = "col">
		   			<p class= "colContent">2.5k</p>
		   			<p class="colTitle">Follwer</p>			   			
			   	</div>
			   	<div class = "col">
					<p class= "colContent">5</p>
		   			<p class="colTitle">Following</p>		   			
			   	</div>
				<div class = "col">
			   			<p class= "colContent">3</p>
			   			<p class="colTitle">Club</p>
				</div>
				<div class = "col">
				   	<p class= "colContent">4</p>
					<p class="colTitle">Event</p>	   			
				</div>
			</div>
			<div class="tagContent">
				<ion-slides direction="horizontal">
				    <ion-slide class="horizontalSlide">
				  		<div id="slideRow" class="row">
					    	<div id="slideCol" class="col">
					    		#Fashion
					    	</div>	 
					    	<div id="slideCol" class="col">
					    		#Party
					    	</div>

					    	<div id="slideCol" class="col">
					    		#Outgoing
					    	</div>
						</div> 
				    </ion-slide>
				    <ion-slide class="horizontalSlide">
				  		<div id="slideRow" class="row">
				    	<div id="slideCol" class="col">
				    		#Haha
				    	</div>	 
				    	<div id="slideCol" class="col">
				    		#UQ Student
				    	</div>
				    	<div id="slideCol" class="col">
				    		#Friendly
				    	</div>
						</div>    
				    </ion-slide>
				</ion-slides>
			</div>
		</div>
	</div>
</ion-header>

<ion-content fullscreen #content hide-header [header]="head">
	<div class="profileSubTabs">
	    <ion-segment  [(ngModel)]="segments" color="dark">
	      <ion-segment-button value="events">
	        EVENTS
	      </ion-segment-button>
	      <ion-segment-button value="tickets">
	        TICKETS
	      </ion-segment-button>
	      <ion-segment-button value="bookmarks">
	        BOOKMARKS
	      </ion-segment-button>
	    </ion-segment>
					<div class="subTabContent" [ngSwitch]="segments" >
						
						<div *ngSwitchCase="'events'">
						<ion-list id="eventList" >
							<ion-item *ngFor="let sItem1 of events | async">
								<ion-thumbnail item-start>
				      			<img src="img/2.jpg">
				    		</ion-thumbnail>
				    			<h2>{{sItem1.name}}</h2>
								<p>The event info</p>
							</ion-item>
						</ion-list>
						<ion-list id="eventList" >
							<ion-item *ngFor="let sItem1 of events | async">
								<ion-thumbnail item-start>
				      			<img src="img/2.jpg">
				    		</ion-thumbnail>
				    			<h2>{{sItem1.name}}</h2>
								<p>The event info</p>
							</ion-item>
						</ion-list>						<ion-list id="eventList" >
							<ion-item *ngFor="let sItem1 of events | async">
								<ion-thumbnail item-start>
				      			<img src="img/2.jpg">
				    		</ion-thumbnail>
				    			<h2>{{sItem1.name}}</h2>
								<p>The event info</p>
							</ion-item>
						</ion-list>
						<ion-list id="eventList" >
							<ion-item *ngFor="let sItem1 of events | async">
								<ion-thumbnail item-start>
				      			<img src="img/2.jpg">
				    		</ion-thumbnail>
				    			<h2>{{sItem1.name}}</h2>
								<p>The event info</p>
							</ion-item>
						</ion-list>
						<ion-list id="eventList" >
							<ion-item *ngFor="let sItem1 of events | async">
								<ion-thumbnail item-start>
				      			<img src="img/2.jpg">
				    		</ion-thumbnail>
				    			<h2>{{sItem1.name}}</h2>
								<p>The event info</p>
							</ion-item>
						</ion-list>
						</div>
					
						<div *ngSwitchCase="'tickets'">
						<ion-slides id="verticalSlide" pager="false" direction="vertical" >
							<ion-slide>
				  			<ion-list  style="margin:0">
				  			<ion-item (click)="dosomething()" *ngFor="let sItem2 of tickets | async">
				    		
				    		<ion-thumbnail item-start>
				      			<img src="img/2.jpg">
				    		</ion-thumbnail>
				    			<h2>{{sItem2.name}}</h2>
								<p>The event info</p>
				  			</ion-item>
				  			</ion-list>
				  			</ion-slide>
						</ion-slides>
						</div>

						<div *ngSwitchCase="'bookmarks'">
						<ion-slides id="verticalSlide" pager="false" direction="vertical" >
							<ion-slide>
				  			<ion-list  style="margin:0">
				  			<ion-item (click)="dosomething()" *ngFor="let sItem3 of bookmarks | async">
				    		
				    		<ion-thumbnail item-start>
				      			<img src="img/2.jpg">
				    		</ion-thumbnail>
				    			<h2>{{sItem3.name}}</h2>
								<p>The event info</p>
				  			</ion-item>
				  			</ion-list>
				  			</ion-slide>
						</ion-slides>
						</div>
					</div>
			</div>
</ion-content>

