<ion-content >
	<div class="basicinfo">

	<ion-fab top right>
    <button ion-fab color="danger"><ion-icon style="font-size:3.0rem" id="setting" name="cog"></ion-icon></button>  
    <ion-fab-list>
    <div class="bottomButton">	  
			<button ion-button color="danger" full (click)='loginWithFacebook()' *ngIf='!facebook.loggedIn' name="logo-facebook">
			  	<ion-icon name="logo-facebook"></ion-icon>Sign in</button>
			<button ion-button color="danger" full (click)='logout()' *ngIf='facebook.loggedIn'>Log out</button>
	</div>
    </ion-fab-list>
  </ion-fab>



	<div id='userimgContainer' >
      		<img src="{{facebook.profilePicture}}" />
		</div>
		<div id='usernameContainer'>
      		<p id='username'>{{facebook.name}}</p>
    	</div>
    	<div id='useremailContainer'>
    		<p id='useremail'>{{facebook.email}}</p>
    	</div>
	</div>


<div class="followInfoContent">
	<div class = "row">
   		<div class = "col">
   			<p class= "colContent">2.5k</p>
   			<p class="colTitle">Follwer</p>
   			
   		</div>
   		<div class = "col">
   			<p class= "colContent">5</p>
   			<p class="colTitle">Following</p>
   			
   		</div>


   		<div class = "col">
   			<p class= "colContent">3</p>
   			<p class="colTitle">Club</p>
   			
   		</div>
   		<div class = "col">
   			<p class= "colContent">4</p>
   			<p class="colTitle">Event</p>
   			
   		</div>
	</div>








		<div class="tagContent">
		<ion-slides direction="horizontal">

		  <ion-slide class="horizontalSlide">
		  		<div id="slideRow" class="row">
			    	<div id="slideCol" class="col">
			    		#Fashion
			    	</div>	 
			    	<div id="slideCol" class="col">
			    		#Party Animal
			    	</div>

			    	<div id="slideCol" class="col">
			    		#Outgoing
			    	</div>

				</div>
		    
		  </ion-slide>

		  <ion-slide class="horizontalSlide">
		  		<div id="slideRow" class="row">
		    	<div id="slideCol" class="col">
		    		#Haha
		    	</div>	 
		    	<div id="slideCol" class="col">
		    		#UQ Student
		    	</div>
		    	<div id="slideCol" class="col">
		    		#Friendly
		    	</div>

				</div>
		    
		  </ion-slide>


		</ion-slides>
	</div>




</div>




	<div class="profileSubTabs">
	    <ion-segment  [(ngModel)]="segments" color="dark">
	      <ion-segment-button value="events">
	        EVENTS
	      </ion-segment-button>
	      <ion-segment-button value="ticketes">
	        TICKETS
	      </ion-segment-button>
	      <ion-segment-button value="bookmarks">
	        BOOKMARK
	      </ion-segment-button>
	    </ion-segment>
			
<div class="subTabContent" [ngSwitch]="segments" >

		<ion-slides pager="false" direction="vertical" >
			<ion-slide>
  			<ion-list  style="margin:0">
  		
  			<ion-item (click)="dosomething()" *ngFor="let sItem of getEvent(segments)">
    		
    		<ion-thumbnail item-start>
      			<img src="img/2.jpg">
    		</ion-thumbnail>
    		<h2>{{sItem.name}}</h2>
				<p>The event info</p>
  			
  			</ion-item>  		
  		
  			</ion-list>
  			</ion-slide>





			<ion-slide>
  			<ion-list  style="margin:0">
  		
  			<ion-item (click)="dosomething()" *ngFor="let sItem of getEvent(segments)">
    		
    		<ion-thumbnail item-start>
      			<img src="img/2.jpg">
    		</ion-thumbnail>
    		<h2>{{sItem.name}}</h2>
				<p>The event info</p>
  			
  			</ion-item>  		
  		
  			</ion-list>
  			</ion-slide>











		</ion-slides>
	</div>
		
	








  	</div>
	<ion-footer>  	

	</ion-footer>

	


</ion-content>

