.titlebc{
    background:linear-gradient(to right, #ed3269 0%, #f05f3e 100%);
    
    //background:linear-gradient(to right, 90deg, #ed3269 0%, #f05f3e 100%);
}
.titletext{
    color: white;
}

.addEventButton{
	position:absolute;
	top:30%;
    left:20%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display:block;
}
.addp{
    margin:0px;
    position: absolute;
    top:70%;
    font-size: 8px;
    color: white;
    font-weight: bold;
    display:block;
}

#topbuttonContainer{
    position:relative;    
    width:80px;
    height:44px;
    text-align:center;
    left:2%;
}


