.titlebc{
    background:linear-gradient(to right, #ed3269 0%, #f05f3e 100%);
    
    //background:linear-gradient(to right, 90deg, #ed3269 0%, #f05f3e 100%);
}
.titletext{
    color: white;
}
.addEventButton{
	position:absolute;
    left:6%;
	top:25%;
	text-align:center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.addp{
    position: absolute;
    left:2%;
    top:55%;
    font-size: 8px;
    color: white;
    font-weight: bold;
}