.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height:30%;
  }

  .event-image{
  	position:absolute;
  	margin:auto;
  	padding:0;
  	top:0;
  	bottom:0;
  	width:25%;
  	height:80%;
  }

  .card-title {
    position: absolute;
    margin-left:30%;
    top:32%;
    bottom:0;
    font-size: 20px;
    font-weight: bold;
    color: red;
  }

  .card-subtitle {
    font-size: 15px;
    position: absolute;
    top: 64%;
    margin-left:30%;
    color: black;
  }
}